In [22]:
import pandas as pd

df = pd.read_csv("games_data.csv")

print(df.head())

  result white_player  black_player  white_elo  black_elo timezone  \
0    win   SCHMITZ874      Blekitni        751        692      UTC
1    win   SCHMITZ874     hadi13711        750        733      UTC
2    win   SCHMITZ874     Supchik74        758        730      UTC
3   loss   SCHMITZ874      gigi6320        751        788      UTC
4   loss   SCHMITZ874  meysamshakor        735        718      UTC

   start_time  end_time
0          18        18
1          19        19
2          19        19
3          19        19
4          20        20

In [23]:
# determine wins and losses
result_freq = df['result'].value_counts(ascending = True)
print(result_freq.head())
wins = result_freq.win
losses = result_freq.loss
print(f"Winrate: { wins/ (wins +losses)}")

tie      52
loss    267
win     277
Name: result, dtype: int64
Winrate: 0.5091911764705882

In [39]:
times = df.groupby('start_time').count().reset_index()
times = times[["result"]]
times.rename(columns = {"result": "games_count"})
times.insert(1, "Wins", 0)
times.insert(1, "Losses", 0)
times.insert(1, "Draws", 0)
times

    result  Draws  Losses  Wins
0       37      0       0     0
1       35      0       0     0
2       26      0       0     0
3       30      0       0     0
4       31      0       0     0
5       37      0       0     0
6       24      0       0     0
7       26      0       0     0
8       17      0       0     0
9        3      0       0     0
10       1      0       0     0
11       1      0       0     0
12       4      0       0     0
13      18      0       0     0
14      35      0       0     0
15      25      0       0     0
16      32      0       0     0
17      82      0       0     0
18      43      0       0     0
19      39      0       0     0
20      50      0       0     0